C:\Users\nmary\OneDrive\Desktop\LEARNING\AI\DEEP-FACIAL-DETECTION\aug_data\
C:\Users\nmary\OneDrive\Desktop\LEARNING\AI\DEEP-FACIAL-DETECTION\data\
C:\Users\nmary\OneDrive\Desktop\LEARNING\AI\DEEP-FACIAL-DETECTION\venv\